<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link rel="stylesheet" href="/stylesheets/HOMEe.CSS">
</head>

<body>

    <header>
        <nav>
            <div>
                <h2>EventHub</h2>
            </div>

            <div>
                <a href="http://localhost:3000/home">Home</a>
                <a href="http://localhost:3000/events">Events</a>
                <a href="http://localhost:3000/about">About</a>
                <a href="http://localhost:3000/contact">Contact</a>
            </div>

            <div>
                <button>Login</button>
                <button>Sign Up</button>
                <a href="http://localhost:3000/Registration/event"> <button>Register Event</button> </a>
            </div>
        </nav>
    </header>

    <section>
        <h1>Discover Amazing Events Around You</h1>
        <p>
            Explore workshops, hackathons, conferences,
            cultural programs, and many more exciting events.
        </p>
        <a href="http://localhost:3000/events"><button>Explore Events</button></a>

    </section>


    <section>
        <h2>My Registrations</h2>

        <div class="regi">

            <p>
                Check all the events you have registered for and
                track your participation status.
            </p>
            
            
            <a href="http://localhost:3000/event/myregisters">
                <button>View My Registrations</button>
            </a>
        </div>

    </section>

    <footer>
        <p>&copy; 2026 EventHub. All Rights Reserved.</p>
    </footer>

</body>

</html>